.texto-apresentacao {
    width: 90%;
    margin: auto;
    padding: 30px;
    text-align: center;
    font-size: 1rem;
}
@media screen and (min-width: 780px) {
    #container {
        background-color: #FFF6C3;
        border-radius: 20px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        margin: auto;
        width: 90%;
        padding: 30px;
    }

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    h4 {
        color: black;
    }

    h5 {
        color: purple;
    }

    address {font-weight: 600;}

    main {

        padding: 1%;
    }

    header h1 {
        
        margin: 0;
        height: 100px;
        height: 150px;
        position: relative;
    }

    header h2 {
        background-color: #FFF;
        width: 300px;
        margin: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .sectioneducacaodireita {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        /* text-align: center; */
    }

    .sectioneducacaoesquerda {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        /* text-align: center; */
    }

    
}

@media screen and (max-width: 779px) {
    header h2 {
        background-color: #FFF;
        width: 280px;
        margin: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 25px;
    }

    header h1 {font-size: 32px;}

    
#container {
        background-color: #FFF6C3;
        border-radius: 20px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        margin: auto;
        width: 79%;
        padding: 30px;
    }

    
}

.educacaoimg {
    max-width: 300px;
    border-radius: 70px 0 70px 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: auto;


}

.educacaotituloeparagrafo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}


#escolas {
    background-color: #b5b5b5c7;
    margin: 20px;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 15px;
}