.lazer__paragrafo{
    font-size: 1rem;
    text-align: center;
    padding: 30px;
    margin: auto;
}

#container{
    background-image: url(../images/Simple-Shiny.svg);
    background-size: cover;
    border-radius: 20px;  
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    margin: auto;
    width: 80%;
    padding: 30px;
    
 } 

 
 .section__lazer__esquerda{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.section__lazer__direita{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.lazer__img{
    max-width: 300px;
    width: 50%;
    border-radius: 70px 0 70px 0;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    margin: auto;
    

}

.lazer__tituloeparagrafo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}